<!--<div>
  <input #username type="text" placeholder="Enter your name"/><br>
  <button (click)="handler(username.value)">Say Hello</button>
</div>
<div [ngClass]="{'bordered':user.show,'colored':user.color}">
  <p>Name: {{user.firstName}}{{user.lastName}}</p>
  <p>Address: {{user.address.street}},{{user.address.city}}<br>
  {{user.address.state}},{{user.address.country}}</p>
  <button (click)="handler()">Say Hello</button>
</div>-->
<!--<app-user-form></app-user-form>-->
<section class="container">
  <header><h2>Angular Application</h2></header>
  <hr>
  <router-outlet></router-outlet>
  <footer>&copy; Preksha Shah</footer>
</section>

