<!--<form>
<input type="text" placeholder="Enter your name" #myInput (keyup)="update(myInput.value)">
 <p>{{name}}</p>
</form>-->
<form class="container" name="user-form" #userFrom="ngForm">
  <div class="form-group">
    <label for="firstName">Firstname</label>
    <input type="text"  #userfirstName="ngModel" required minlength="4" [(ngModel)]="user.firstName" name="firstName" class="form-control" id="firstName" placeholder="Enter firstname">
  <div *ngIf="userfirstName.errors &&(userfirstName.dirty || userfirstName.touched)" class="error">
    <p [hidden] = "!userfirstName.errors.required">First name is required</p>
    <p [hidden]="!userfirstName.errors.minlength">First name must of 4 or more characters</p>
  </div>
  </div>
  <div class="form-group">
    <label for="lastName">Lastname</label>
    <input type="text"  #userlastName="ngModel" required  minlength="4"  [(ngModel)]="user.lastName" name="lastName" class="form-control" id="lastName" placeholder="Enter lastname">
    <div *ngIf="userlastName.errors &&(userlastName.dirty || userlastName.touched)" class="error">
      <p [hidden] = "!userlastName.errors.required">Last name is required</p>
      <p [hidden]="!userlastName.errors.minlength">Last name must of 4 or more characters</p>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" #useremail="ngModel" required [(ngModel)]="user.email"  name="email" class="form-control" id="email" placeholder="Enter email">
    <div *ngIf="useremail.errors &&(useremail.dirty || useremail.touched)" class="error">
      <p [hidden] = "!useremail.errors.required">Email is required</p>
    </div>
  </div>
  <div class="form-group">
    <label>State</label>
    <select class="form-control"  #userstate="ngModel" required name="state" [(ngModel)]="user.state">
      <option>Select your state</option>
      <option *ngFor="let state of states" [value]="state">{{state}}</option>
    </select>
    <div *ngIf="userstate.errors &&(userstate.dirty || userstate.touched)" class="error">
      <p [hidden] = "!userstate.errors.required">State is required</p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="addUser()" [disabled]="!userFrom.valid">Submit</button>
</form>
